body {
    background-color: beige;
}

h2 {
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    color: cadetblue;
    font-family:'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    font-size: 1.5rem;
}

.best-movie p{
    font-weight: 700;
    font-size: 1.1em;
    color: goldenrod;
}
.best-movie span{
    font-style: italic;
    color: green;
    padding-left: 13px;
}
